{% extends 'blog/base.html' %}
{% load static %}

{% block masthead %}
    <header class="masthead" style="background-image: url('{% static 'blog/img/bg.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading" style="padding: 25vh 0 45vh">
                        <h1>小小草</h1><span class="subheading">冬来变黄，逢春生绿</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="col-md-10 col-lg-10">

        {% for article in article_list %}
            <div class="post-preview"><a href="{% url 'blog:detail' article.slug %}">
                <h2 class="post-title">{{ article.title }}</h2>
                {% if article.summary %}
                    <h3 class="post-subtitle">
                        {{ article.summary }}</h3>
                {% endif %}
            </a>
                <p class="post-meta">
                    Posted by&nbsp;
                    <a href="#">
                        {{ article.author }}&nbsp;{{ article.published_dt }}
                    </a>
                </p>
            </div>
            <hr>
        {% endfor %}

{#        <div class="clearfix">#}
{#            <button class="btn btn-primary float-end" type="button">Older Posts&nbsp;⇒</button>#}
{#        </div>#}
    </div>
{% endblock %}
